@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
}

:root {
  --primary-color: #2455a9;
  --secondary-color: #ecf4fd;
  --bg-color: #ecf4fd;
}

.links {
  display: none;
}
.web-logo {
  width: 120px;
  margin-left: 12px;
}
nav {
  width: 100%;
  padding: 12px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner {
  width: 100%;
  height: 430px;
  padding-top: 12px;
  background-image: url(assets/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "bottom center";
}
.banner h2 {
  text-align: center;
  margin-top: 10px;
  color: white;
  line-height: 1em;
}
.banner-content {
  padding: 0px 2px;
  margin-top: 2.5rem;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.5%;
}

.count {
  background-color: white;
  margin: 5rem 10px 0px 10px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-content {
  display: flex;
  gap: 3px;
  align-items: center;
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.content {
  padding: 0px 5px;
  border-right: 1px solid gray;
}
.summary {
  color: #757575;
  font-family: Poppins;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.logos {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80%;
  background-color: white;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
.logo img {
  width: 15px;
}
.logo p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 6px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin-top: 0px;
}
.services {
  width: 100%;
  padding: 12px;
  background-color: var(--bg-color);
}
.primary-card {
  background-color: var(--primary-color);
}
.secondary-card {
  background-color: var(--bg-color);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.card {
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-image {
  margin: 10px;
  width: 278px;
  height: 200px;
}
.text-header {
  color: var(--primary-color);
  text-align: center;
}
.summary-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.icons-container {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.top {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.secondary {
  display: flex;
  align-items: center;
  color: black;
}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
  }
  .banner h2 {
    text-align: left;
    margin-left: 20px;
    font-size: 40px;
  }
  .web-logo {
    flex: 0.3;
  }
  .links {
    display: block;
  }
  .nav {
    width: 100%;
    justify-content: center;
  }
  .links {
    display: flex;
    flex: 1;
    justify-content: end;
  }

  .links > .middle a {
    text-decoration: none;
    color: #2c2c2e;
  }
  .banner {
    height: 600px;
    padding: 5px;
    padding-top: 5rem;
    background-image: url("assets/Hero-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: "bottom right";
  }
  .count {
    width: 38%;
    justify-content: space-evenly;
  }
  .middle {
    display: flex;
    flex: 0.7;
    justify-content: center;
    gap: 100px;
  }
  .end {
    display: flex;
    flex: 0.2;
    justify-content: end;
    gap: 18px;
  }
  .content {
    padding: 0px 1.2em;
  }
  .logo img {
    width: 15px;
  }
  .banner-content {
    width: 677.946px;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    text-align: left;
    font-style: normal;
    margin-left: 20px;
  }
  .logo-container {
    width: 30%;
    display: flex;
    justify-content: left;
    margin: 12px;
  }
  .logos {
    width: 200px;
    display: flex;
    gap: 0, 5em;
    justify-content: left;
  }
  .logo {
    /* width: 35%; */
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
  }
  .logo p {
    color: black;
    text-align: center;
    font-weight: 100;
    font-size: 10px;
  }
  .mobile-sec {
    display: none;
  }
  .end a {
    text-decoration: none;
    color: #2c2c2e;
  }
  .primary {
    background-color: var(--primary-color);
    color: white !important;
    padding: 2px 8px;
  }
}
